{% extends "base" %}

{% block content %}
  <h1 class="text-2xl font-semibold text-slate-900">Deployments</h1>
  </br>
  <h2 class="text-xl text-slate-900">Undeployed Commits</h2>
  <table class="mt-8 w-full table-auto text-sm">
    <thead class="border-b border-slate-200 text-left text-xs uppercase tracking-wide text-slate-500">
      <tr>
        <th>Description</th>
        <th>Commit Sha</th>
        <th>CI Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="commit-table" class="divide-y divide-slate-100"></tbody>
  </table>
  </br>
  <h2 class="text-xl text-slate-900">Past Deploys</h2>
  <table class="mt-8 w-full table-auto text-sm">
    <thead class="border-b border-slate-200 text-left text-xs uppercase tracking-wide text-slate-500">
      <tr>
        <th>Commit Sha</th>
        <th>Deploy Created</th>
        <th>Status</th>
        <th/>
      </tr>
    </thead>
    <tbody id="deployment-table" class="divide-y divide-slate-100"></tbody>
  </table>

  <script>
    const deploymentTableBody = document.getElementById("deployment-table");
    const commitTableBody = document.getElementById("commit-table");

    const repoId = {{ repo_id }};

    function isoNow() {
      return new Date().toISOString();
    }

    async function loadDeployments() {
      deployments = [
        {
          commit_sha: "abc123",
          created_at: "2026-01-20T10:10:00Z",
          status: "successful"
        }
      ]
      deploymentTableBody.innerHTML = "";
      deployments.forEach((deployment) => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td class="py-3">${deployment.commit_sha}</td>
          <td class="py-3 font-medium text-slate-800">${deployment.created_at}</td>
          <td class="py-3 text-slate-600">${deployment.status}</td>
        `;
        deploymentTableBody.appendChild(row);
      });
    }
    async function loadCommits() {
      commits = [
        {
          title: "test commit",
          merged_at: "2026-01-20T10:10:00Z",
          merge_commit_sha: "123456",
          statuses: [
            {
              name: "build",
              status: "completed",
              conclusion: "success"
            }
          ]
        }
      ]

      commitTableBody.innerHTML = "";
      commits.forEach((commit) => {

        const allStatusChecksCompleted = commit.statuses.every(s => s.status == "completed")
        const allStatusChecksPassed = commit.statuses.every(s => s.conclusion == "success")

        let displayStatus = "Pending";
        if (allStatusChecksCompleted && allStatusChecksPassed)
          displayStatus = "Succeeded"
        else if (allStatusChecksCompleted && !allStatusChecksPassed)
          displayStatus = "Failed"

        const row = document.createElement("tr");
        row.innerHTML = `
          <td class="py-3">${commit.title}</td>
          <td class="py-3 font-medium text-slate-800">${commit.merge_commit_sha}</td>
          <td class="py-3 text-slate-600">${displayStatus}</td>
          <td>BUTTON TO DEPLOY</td>
        `;
        commitTableBody.appendChild(row);
      });
    }

    loadDeployments();
    loadCommits();
  </script>
{% endblock content %}
